* {
    font-family: 'Carter One', cursive;
font-family: 'Poppins', sans-serif;;
}

ul li {
    list-style-type: none;
    color: white;
    padding-left: 0px;
}
.navbar-brand {
    font-weight: 700;
    color:rgba(224,127,73,255);;
}
.nav-link.active {
    font-weight: 700;
}
h2{
    color: rgb(255, 255, 255);
}
h1 {
    color: rgb(255, 145, 0);
}
p {
    color: rgba(255, 255, 255, 0.575);
}

footer {
    background-color: rgba(16,21,25,255);
}
#konten1 {
    background-color: rgba(16,21,25,255);
    padding: 50px 0px 0px 0px;
}